
<!-- <form class="form" method="POST" action="/register">
	<div class="form-group">
		<input class="form-control" placeholder="Name" name="name"></input>
		<input class="form-control" placeholder="Email" name="email"></input>
		<input class="form-control" placeholder="Password" name="password"></input>
		<input type="submit" value="Register"></button>
	</div>
</form> -->
<br>
<div >
	<h1 class="center">Sign In</h1>
	<form class="form" method="POST" action="/Home">
		<div class="form-group container2">
			<input class="form-control inputs" placeholder="Email" name="email"></input>
			<br>
			<input class="form-control inputs" placeholder="Password" name="password"></input>
			<br>
			<input type="submit" value="Login"></input>
		</div>
	</form>
</div>
